.dashboard-container {
    padding: 5px;

    h1 {
        margin: 0;
        padding: 1.5rem;
        font-size: 1.75rem;
        color: #2563eb;
    }

    p {
        padding: 0 1.5rem 2rem;
    }
}